@media (max-width: 820px) {
body {
    .header {
        padding: 15px;
        .header__menu {
            width: 100%;
            .menu__img {
                width: 60px;
            }
            .menu__icons {
                @include flexBoxC;        
                width: 30px;
            }
            .menu__options {
                @include flexBoxC;        
            }
        }
    }
    main {        
        .products {
            @include compleProducts820;
            .products__article {
                .article__img {
                    width: 150px;
                }
            }
            &.showP {
                width: 100%;
            }        

        }        
        .cart {
            &.show {
                @include Cart(100%, #d8d51a, 25px, border-box, none, static);         
                .cart__title {
                    font-size: 35px;
                }
                .cart__div {
                    @include compleFlexCar480_820;
                    .cart__img {
                        width: 80px;
                    }
                    .cart__price, .cart__product__description {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .cart__delete__icon {
                        cursor: pointer;
                        width: 40px;
                    }
                }
            }                
        }
    }
    footer {
        @include compleFooter480_820;
    }
}    
}           
@media (max-width: 480px) {
body {
    .header {
        width: 100%;
        @include flexBoxC;
        align-items: center;     
        .header__menu {
            @include flexBoxC;
            gap: 10px;
        }
        .menu__options, .menu__icons {
            @include flexBoxC;
            align-items: center;
        }
    }    
    main {
        .products {
            @include compleProducts480;
            .products__article {
                .article__img {
                    @include compleArticleImg480;
                }
                .article__h3, .article__p {
                    padding: 0 10px;
                }
            }
            &.showP {
                width: 100%;
            }        
        }        
        .cart {
            &.show{
                @include Cart(100%, #d8d51a, 25px, border-box, none, static);         
                align-items: center;
                align-content: center;
                .cart__title {
                    padding: 15px 0;
                    font-size: 25px;
                }
                .cart__div {
                    @include compleFlexCar480_820;
                    .cart__price, .cart__product__description {
                        font-size: 15px;
                        font-weight: 500;
                    }    
                    .cart__img {
                        width: 80px;
                    }
                }
            }
        }         
    }        
    footer {
        @include compleFooter480_820;
    }
}
}