body main .products {
  width: 100%;
  margin: 0;
  gap: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 10px;
  background-color: #0f8ee2;
}

body {
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
}
body .header {
  padding: 3px;
  background-color: #7fffd4;
}
body .header .header__title {
  text-align: center;
  font-size: 20px;
}
body .header .header__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  align-items: center;
  box-sizing: border-box;
  border: 1px, solid, #008000;
  word-spacing: 2px;
}
body .header .header__menu .menu__img {
  width: 90px;
}
body .header .header__menu .menu__icons {
  display: inline-block;
}
body .header .header__menu .menu__icons .menu__icon {
  width: 50px;
  cursor: pointer;
}
body .header .header__menu .menu__icons .menu__icons--secondary #cartpadre {
  padding: 20px 0;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
}
body .header .header__menu .menu__icons .menu__icons--secondary #carrito {
  margin: auto;
  margin-top: 20px;
  position: relative;
  z-index: 50;
}
body .header .header__menu .menu__icons .menu__icons--secondary #carthijo {
  margin: auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d81414;
  color: #f5f7f8;
  position: absolute;
  align-content: center;
  top: 12%;
  right: 20%;
  z-index: 100;
}
body main .products .products__article {
  text-align: center;
}
body main .products .products__article .products__btn {
  display: block;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: 600;
  font-family: "Monserrat", Arial, Helvetica, sans-serif;
}
body main .products .products__article .products__btn--disabled {
  background-color: rgb(209, 209, 209);
}
body main .products .products__article .article__img {
  width: 100px;
  margin-bottom: 15px;
}
body main .products .products__article .article__h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 5px;
}
body main .products .products__article .article__p {
  font-weight: 300;
  font-size: 20px;
}
body main .products.showP {
  width: 85%;
}
body main .products > article:first-child {
  color: #00ffff;
}
body main .products > article:nth-child(3) {
  color: #40e20f;
}
body main .cart {
  width: 200px;
  background-color: #d8d51a;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: -19px -1px 22px -15px rgb(0, 0, 0);
  position: fixed;
  right: -50%;
  top: 100px;
  transition: all 0.25s ease;
}
body main .cart .cart__title {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 25px 0;
  box-sizing: border-box;
}
body main .cart .cart__div article {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
}
body main .cart .cart__div article .cart__img {
  width: 25px;
}
body main .cart .cart__div article .cart__price {
  font-size: 8px;
  font-weight: 500;
}
body main .cart .cart__div article .cart__product__description {
  font-size: 8px;
  font-weight: 800;
}
body main .cart .cart__div article .cart__delete__icon {
  cursor: pointer;
  width: 12px;
}
body main .cart.show {
  right: 0;
}
body main .cart.closeX {
  right: -50%;
  top: 100px;
  transition: all 0.25s ease;
}
body footer {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding: 20px 50px;
  background-color: #7fffd4;
  align-items: center;
  box-sizing: border-box;
  /* usando la funcion CLAMP */
  font-size: clamp(0.5rem, 5vw, 1rem);
}

@media (max-width: 820px) {
  body .header {
    padding: 15px;
  }
  body .header .header__menu {
    width: 100%;
  }
  body .header .header__menu .menu__img {
    width: 60px;
  }
  body .header .header__menu .menu__icons {
    display: flex;
    flex-direction: column;
    width: 30px;
  }
  body .header .header__menu .menu__options {
    display: flex;
    flex-direction: column;
  }
  body main .products {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1frx));
  }
  body main .products .products__article .article__img {
    width: 150px;
  }
  body main .products.showP {
    width: 100%;
  }
  body main .cart.show {
    width: 100%;
    background-color: #d8d51a;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: none;
    position: static;
  }
  body main .cart.show .cart__title {
    font-size: 35px;
  }
  body main .cart.show .cart__div {
    flex-direction: column;
    align-items: center;
  }
  body main .cart.show .cart__div .cart__img {
    width: 80px;
  }
  body main .cart.show .cart__div .cart__price, body main .cart.show .cart__div .cart__product__description {
    font-size: 20px;
    font-weight: 600;
  }
  body main .cart.show .cart__div .cart__delete__icon {
    cursor: pointer;
    width: 40px;
  }
  body footer {
    width: 100%;
    color: #fafafa;
    background-color: #050505;
  }
}
@media (max-width: 480px) {
  body .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .header .header__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  body .header .menu__options, body .header .menu__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .products {
    width: 100%;
    grid-template-columns: 1frx;
    padding: 10px;
  }
  body main .products .products__article .article__img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  body main .products .products__article .article__h3, body main .products .products__article .article__p {
    padding: 0 10px;
  }
  body main .products.showP {
    width: 100%;
  }
  body main .cart.show {
    width: 100%;
    background-color: #d8d51a;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: none;
    position: static;
    align-items: center;
    align-content: center;
  }
  body main .cart.show .cart__title {
    padding: 15px 0;
    font-size: 25px;
  }
  body main .cart.show .cart__div {
    flex-direction: column;
    align-items: center;
  }
  body main .cart.show .cart__div .cart__price, body main .cart.show .cart__div .cart__product__description {
    font-size: 15px;
    font-weight: 500;
  }
  body main .cart.show .cart__div .cart__img {
    width: 80px;
  }
  body footer {
    width: 100%;
    color: #fafafa;
    background-color: #050505;
  }
}/*# sourceMappingURL=main.css.map */